<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"
     rel="stylesheet"> 
     <link rel="stylesheet" href="../style sheets/contact.css"> 
</head>
<body>
    <nav><a href="../index.html">Go to Home</a></nav>
    <ul class="wrapper">
        <h2>Contact me </h2>
        <a href="https://www.linkedin.com/in/sanchit-rajmane-909b74229/"><li class="social linkedin"><i class="fa fa-linkedin"></i></li></a>
        <a href="https://github.com/Chiro2002"><li class="social github"><i class="fa fa-github"></i></li></a>
        <a href="https://www.facebook.com/"><li class="social facebook"><i class="fa fa-facebook"></i></li></a>
        <a href="https://twitter.com/"><li class="social twitter"><i class="fa fa-twitter"></i></li></a>  
      </ul>
</body>
</html>