<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Education</title>
    <link rel="stylesheet" href="../style sheets/edu.css">
</head>
<body>
    <nav><a href="../index.html">Go to Home</a></nav>
    <div class="main">
        <h2>My Educations <span>&</span>Achievements</h2>
        <ul> 
            <li class="txt"><span>2021-25 </span>  Computer Engineering at College of Engineering Pune Tech University</li>
            <li class="txt"><span>2019-21 </span>  11th and 12th from ANN Jr College</li>
            <li class="txt">         12th HSC Board 96%</li>
            <li class="txt"><span>2018-19 </span>  10th at JKV Jaysingpur</li> 
            <li class="txt">         10th SSC Board 94%</li>
            <li class="txt"><span>2018-19 </span>  Intermediate Drawing Exam Passed with A+ Grade</li>
            <li class="txt"><span>2015-16 </span>  Scholarship Exam District rank 26 marks 211/300</li>
            <li class="txt"><span>2015-16 </span>  NMMS Exam All State Rank 10 marks 151/200</li>
            <li class="txt"><span>2011-12 </span>  Scholarship Test at 4th Std District rank 51</li>
            <li class="txt"><span>2007-18 </span>  1st to 10th std at JKV Jaysingpur</li>
        </ul>
    </div>
</body>
</html>