<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skills</title>
    <link rel="stylesheet" href="../style sheets/skills.css">
</head>
<body>
    <nav><h3><a href="../index.html">Go to Home</a></h3></nav>
    <h2>My web skills</h2>
    <h4>Data need not to be accurate ,I always in process of learning</h4>
    <div class="main">
    <p>HTML</p>
        <div class="container">
     <div class="skills html">65%</div>
    </div>

    <p>CSS</p>
    <div class="container">
     <div class="skills css">40%</div>
    </div>

    <p>JavaScript</p>
    <div class="container">
    <div class="skills js">7%</div>
    </div>
   </div>
   <section>
     <h2>Other Skills</h2>
       <ul class="list">
         <li>Coding</li>
         <li>Problem solving</li>
         <li>Designing</li>
         <li>Drawing</li>
         <li>Photography</li>
         <li>Editing</li>
         <li>Painting</li>
         <li>Gaming</li>
       </ul>
   </section>
</body>
</html>